.page {
  padding: 32px;
  min-height: calc(100vh - 95px);
  &--input {
    margin-bottom: 32px;
  }
  &--pagination {
    position: absolute;
    width: calc(100% - 62px);
    display: flex;
    align-items: center;
    place-content: center;
    bottom: 32px;
    button {
      margin: 8px;
    }
    input {
      width: 32px
    }
  }
}
