<div class="item">
  <div class="item--data">
    <p *ngIf="!editItemMode">{{ item.data }}</p>
    <ng-container *ngIf="editItemMode">
      <input type="text" #newData />
      <button (click)="editItem(newData.value)" class="btn-green">Save</button>
    </ng-container>

    <ng-container *ngIf="!editItemMode">
      <div class="item--data__buttons">
        <button (click)="this.addNewChildren = true" class="btn-green">Add</button>
        <button (click)="editItemMode = true"class="btn-main">Edit</button>
        <button (click)="deleteItem()" class="btn-red">Delete</button>
      </div>
    </ng-container>
  </div>
  <div class="item--children">
    <app-item *ngFor="let child of item.children" [item]="child"></app-item>
  </div>
</div>
<div class="children-input" *ngIf="addNewChildren">
  <div class="children-input--box">
    <app-add-data
      (item)="addChildren($event)"
      [isChild]="true"
      [childOf]="item._id"
    ></app-add-data>
  </div>
</div>
