@import "/src/app/shared/styles/colors";

.btn-green {
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: $main-green;
  color: white;
}

.btn-green:hover {
  background-color: white;
  color: $main-green;
  box-shadow: 0px 2px 20px 2px $main-green;
}
